.inner {
    padding: 15px 15px 15px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-me {
    margin: 15px 0;
    text-decoration: none;
    font-weight: 700;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact a {
    padding: 20px;
}

.contact a:hover {
    color: inherit !important;
}

/* .contact-me.light__color:hover {
    color: #66798b;
}
.contact-me.dark__color:hover {
    color: #66798b;
} */

.contact-me i {
    font-size: 40px;
}

.contact-me span {
    font-size: 16px;
}

@media screen and (min-width: 380px) and (max-width: 540px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}

@media screen and (min-width: 540px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}