.footer{
    margin: 30px 0 0;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
    font-weight: 700;
}

.footer.light {
    background-color: #d0dae4;
    color: #154360;
}
.footer.dark {
    background-color: #66798b;
    color: white;
}