.inner-projects {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 30px 0 50px !important;
    padding: 15px;
}

#light.inner-projects {
    background-color:  #f4f6f7 ;
}
#dark.inner-projects {
    background-color: #27374D;
}

.img-cont {
    display: none;
}

.tools .tools_technology {
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;

    padding: 7px 8px;
    border-radius: 8px;

    cursor: context-menu;
}

.dark__theme__tools {
    background-color: white;
    color: #27374D;
}

.light__theme__tools {
    background-color: #27374D;
    color: white;
}

.tools a .bi-git {
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;

    position: relative;
    top: 5px;
}

.tools .bi {
    font-size: 20px;
}

@media screen and (min-width: 334px) {
    .img-cont {
        display: block;
    }

    .img-cont img{
        margin-top: 20px;
        width: 100%;
        max-height: 350px;
    }
}

@media screen and (min-width: 630px) and (max-width: 768px){
    .img-cont img{
        margin-top: 20px;
        width: 80%;
        max-height: 350px;

    }

    .img-cont {
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .img-cont img{
        margin-top: 20px;
        width: 100%;
        max-height: 350px;

    }
}
